[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
bs4 = "*"
httpx = ">=0.16"
marshmallow = ">=3.7"
python-telegram-bot = ">=12.7"
PyYAML = ">=5.3"
pyyml = "*"

[dev-packages]

[requires]
python_version = "3.9"
