anyio==3.5.0
APScheduler==3.6.3
beautifulsoup4==4.10.0
bs4==0.0.1
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
marshmallow==3.15.0
packaging==21.3
pyparsing==3.0.7
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyyml==0.0.2
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
tornado==6.1
tzdata==2022.1
tzlocal==4.2
